.headline {
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: hsl(var(--hue-1), 30%, 40%);
}
.headline--danger span {
  color: hsl(var(--hue-3), 60%, 60%);
}
