:root {
  --info-heading-ls: .05em;
}
.info {
  font-size: 1.6rem;
  max-width: 65ch;
}
.info__heading {
  font-size: 3em;
  font-family: var(--fontSerif);
  font-style: italic;
  font-weight: 500;
  color: hsl(var(--hue-1), 40%, 50%);
}
@media only screen and (min-width: 768px) {
  .info__heading {
    font-size: 3.8em;
    letter-spacing: var(--info-heading-ls);
  }
}

.info__heading--first-letter::first-letter {
  font-size: 2.5em;
  line-height: .5;
  letter-spacing: calc(var(--info-heading-ls) * -1);
  color: hsl(var(--hue-3), 40%, 50%);
}

.info__main {
  margin-top: .4em;
  font-size: .9em;
  color: hsl(var(--hue-1), 20%, 40%);
  letter-spacing: .01em;
  line-height: 1.5em;
}
@media only screen and (min-width: 768px) {
  .info__main {
    padding-left: 1em;
    border-left: 3px solid hsl(var(--hue-3), 40%, 60%);
  }
}
.info__paragraph:not(:last-child) {
  margin-bottom: .6em;
}

.info__meta {
  margin-top: .6em;
  font-size: .9em;
  text-align: right;
  color: hsl(var(--hue-2), 50%, 40%);
}
.info__meta--right {
  text-align: right;
}
.info__meta--signature {
  margin-top: .8em;
  opacity: .8;
  font-family: var(--fontScript);
  font-size: 1.5em;
}